body {
  font-family: "Roboto";
  min-width: 320px;
  overflow-x: hidden;
  line-height: 1.5;
}

body, html {
  font-size: 17px;
}

@media (max-width: 992px) {
  body, html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  body, html {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  body, html {
    font-size: 14px;
  }
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}
.fs20 {
  font-size: 1.176rem;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.header {
  background-color: #000;
}

.header-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-flex-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-flex-wrapper__mobile-menu-call {
  display: none;
}
.header-flex-wrapper__email {
  font-size: 0.882rem;
  color: #7E6D51;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header-flex-wrapper__email:hover {
  color: #BCA182;
}
.header-flex-wrapper__phone {
  font-size: 1.118rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header-flex-wrapper__phone:hover {
  color: #d5d5d5;
}
.header-flex-wrapper__modal-call {
  font-size: 0.647rem;
  color: #BEBEBE;
  text-decoration: underline;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header-flex-wrapper__modal-call:hover {
  color: #fff;
}
.header-flex-wrapper__modal-call::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #54BB5E;
  border-radius: 50%;
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .header-flex-wrapper__logo img {
    max-width: 150px;
    height: auto;
  }
}
@media (max-width: 992px) {
  .header-flex-wrapper {
    padding: 10px 0;
  }
  .header-flex-wrapper__info {
    display: none;
  }
  .header-flex-wrapper__mobile-menu-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    cursor: pointer;
  }
  .header-flex-wrapper__mobile-menu-call svg {
    margin-right: 5px;
  }
}
.header-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-navigation ul li.has-children::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -3px;
  right: 0;
  width: 11px;
  height: 6px;
  background-image: url(../images/svg/arrow-down.svg);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.header-navigation ul li.has-children ul {
  display: none;
}
.header-navigation ul a {
  color: #fff;
  text-decoration: none;
  display: block;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header-navigation ul a:hover {
  color: #BCA182;
}
.header-navigation ul li {
  position: relative;
}
.header-navigation ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  min-width: 23.529rem;
  padding: 0.588rem 1.765rem;
}
.header-navigation ul li:hover ul {
  display: block;
}
.header-navigation ul li:hover::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header-navigation ul li a {
  margin: 0.588rem 0;
}
.header-navigation > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.765rem;
  height: 5.294rem;
}

@media (max-width: 1400px) {
  .header-navigation > ul > li > a {
    margin: 0 1.176rem;
  }
}
@media (max-width: 1200px) {
  .header-navigation a {
    font-size: 0.824rem;
  }
}
@media (max-width: 992px) {
  .header-navigation {
    display: none;
  }
}
.form__select, .form__input, .form__submit-button {
  height: 2.647rem;
  color: #5E5E5E;
  font-size: 0.882rem;
  padding: 0 0.882rem;
  background-color: #E9E9E9;
  border: none;
  margin-bottom: 0.882rem;
}
.form__submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7E6D51;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.form__submit-button svg {
  margin-top: 2px;
  margin-left: 2px;
}
.form__submit-button:hover {
  background-color: #BCA182;
}
.form_3-in-1-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form_3-in-1-row input, .form_3-in-1-row select, .form_3-in-1-row button {
  width: 32%;
}

@media (max-width: 992px) {
  .form_3-in-1-row input, .form_3-in-1-row select, .form_3-in-1-row button {
    width: 49%;
  }
}
@media (max-width: 576px) {
  .form_3-in-1-row input, .form_3-in-1-row select, .form_3-in-1-row button {
    width: 100%;
  }
}
.section {
  margin-top: 5.882rem;
}

@media (max-width: 768px) {
  .section {
    margin-top: 3.529rem;
  }
}
.slider-dots .slick-dots li button::before {
  display: none;
}
.slider-dots .slick-dots li {
  width: 60px;
  height: 6px;
  background-color: #fff;
  margin: 0 1.176rem;
}
.slider-dots .slick-dots li.slick-active {
  background-color: #7E6D51;
}
.slider-dots--on-slider-bottom {
  position: relative;
  bottom: 50px;
  left: 0;
}

@media (max-width: 576px) {
  .slider-dots .slick-dots li {
    width: 30px;
    height: 3px;
    margin: 0 0.588rem;
  }
}
.main-screen {
  padding: 5.882rem 0 8.824rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.offer-form {
  padding: 1.765rem 3.529rem;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.offer-form__title {
  font-size: 1.765rem;
  margin-bottom: 1.765rem;
  color: #fff;
}
.offer-form__title_bold {
  font-weight: 700;
  display: block;
}

.info-notice {
  cursor: pointer;
  position: relative;
  max-width: 26.471rem;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 0.882rem;
  padding: 0.882rem 2.353rem 0.882rem 0.882rem;
  border: 2px solid #7E6D51;
  margin-top: 1.471rem;
}
.info-notice__text_bold {
  font-weight: 700;
}
.info-notice__image {
  position: absolute;
  top: -0.588rem;
  right: -1.765rem;
}

.main-screen-card-wrapper {
  margin-top: -3.529rem;
}

.main-screen-card {
  text-decoration: none;
  padding: 0 1.176rem;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7.059rem;
  background-image: url(../images/main-screen-card-background-pattern.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  border: 1px solid #7E6D51;
}
.main-screen-card__text {
  font-size: 1.176rem;
  margin-left: 0.882rem;
  color: #fff;
  line-height: 1.3;
}
.main-screen-card svg {
  -webkit-box-flex: 60px;
      -ms-flex: 60px 0 0px;
          flex: 60px 0 0;
}

.home-page-slider__slide {
  background-color: #000;
}
.home-page-slider__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-page-slider__image {
  width: 50%;
}
.home-page-slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-page-slider__content {
  width: 50%;
  padding: 2.353rem 3.529rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.home-page-slider__title {
  font-size: 2.412rem;
  margin-bottom: 2.353rem;
  font-weight: 700;
  color: #fff;
}
.home-page-slider__title_accent {
  color: #7E6D51;
}
.home-page-slider__card {
  width: 100%;
  border: 1px solid #7E6D51;
  padding: 1.176rem;
  color: #fff;
}
.home-page-slider__card-title {
  font-size: 1.353rem;
  padding-bottom: 0.588rem;
  margin-bottom: 0.588rem;
  position: relative;
  display: inline-block;
}
.home-page-slider__card-title::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 1px;
  background-color: #7E6D51;
}
.home-page-slider__card-subtitle {
  font-size: 19px;
  font-weight: 700;
}
.home-page-slider__card-text {
  margin-bottom: 30px;
}
.home-page-slider__link {
  width: 11.765rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 15px;
  border: 1px solid #7E6D51;
  padding: 8px 0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.home-page-slider__link:hover {
  color: #d5d5d5;
}

@media (max-width: 1400px) {
  .home-page-slider__content {
    padding: 5.294rem 1.765rem;
  }
}
@media (max-width: 1200px) {
  .main-screen-card {
    height: 5.588rem;
  }
  .main-screen-card__text {
    font-size: 13px;
  }
  .home-page-slider__title {
    font-size: 2.059rem;
    margin-bottom: 1.176rem;
  }
}
@media (max-width: 992px) {
  .offer-form__title {
    font-size: 1.471rem;
  }
  .main-screen-card {
    margin: 0;
    margin-bottom: 0.588rem;
  }
  .home-page-slider__flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-page-slider__content, .home-page-slider__image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .offer-form__title {
    font-size: 1.176rem;
  }
}
@media (max-width: 576px) {
  .info-notice {
    padding: 0.882rem;
  }
  .info-notice__image {
    display: none;
  }
  .home-page-slider__content {
    padding: 40px 20px 80px 20px;
  }
  .home-page-slider__title {
    font-size: 26px;
  }
}