body {
  font-family: "Roboto";
  min-width: 320px;
  overflow-x: hidden;
  line-height: 1.5;
}

body, html {
  font-size: 17px;
}

@media (max-width: 992px) {
  body, html {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  body, html {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  body, html {
    font-size: 14px;
  }
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}
.h2-title {
  margin-bottom: 2.941rem;
  font-size: 2.118rem;
  font-weight: 700;
}
.h2-title_white {
  color: #fff;
}

.html-content {
  margin-bottom: 1.765rem;
}
.html-content_relative {
  position: relative;
}
.html-content_white {
  color: #fff;
}

@media (max-width: 768px) {
  .h2-title {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
  }
}
.fs20 {
  font-size: 1.176rem;
}

.maw600 {
  max-width: 35.294rem;
}

.tar {
  text-align: right;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.header {
  background-color: #000;
}

.header-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-flex-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-flex-wrapper__mobile-menu-call {
  display: none;
}
.header-flex-wrapper__email {
  font-size: 0.882rem;
  color: #7E6D51;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header-flex-wrapper__email:hover {
  color: #BCA182;
}
.header-flex-wrapper__phone {
  font-size: 1.118rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header-flex-wrapper__phone:hover {
  color: #d5d5d5;
}
.header-flex-wrapper__modal-call {
  font-size: 0.647rem;
  color: #BEBEBE;
  text-decoration: underline;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header-flex-wrapper__modal-call:hover {
  color: #fff;
}
.header-flex-wrapper__modal-call::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #54BB5E;
  border-radius: 50%;
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .header-flex-wrapper__logo img {
    max-width: 150px;
    height: auto;
  }
}
@media (max-width: 992px) {
  .header-flex-wrapper {
    padding: 10px 0;
  }
  .header-flex-wrapper__info {
    display: none;
  }
  .header-flex-wrapper__mobile-menu-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    cursor: pointer;
  }
  .header-flex-wrapper__mobile-menu-call svg {
    margin-right: 5px;
  }
}
.footer {
  background-color: #000;
  padding-top: 1.765rem;
  color: #fff;
}

.footer-logo {
  max-width: 8.235rem;
}
.footer-logo span {
  font-size: 0.588rem;
  color: rgba(188, 161, 130, 0.7);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.059rem;
  margin-top: 0.294rem;
}

.footer-tel {
  margin-bottom: 1.471rem;
}
.footer-tel__title {
  font-size: 1.118rem;
  font-weight: 400;
}
.footer-tel__item {
  font-size: 1.118rem;
  font-weight: 700;
}

.footer-mail__title {
  font-size: 1.118rem;
  font-weight: 400;
}
.footer-mail__item {
  font-size: 1.118rem;
  font-weight: 700;
}

.footer-menu__title {
  font-size: 1.235rem;
  font-weight: 700;
  margin-bottom: 0.882rem;
}
.footer-menu__list {
  list-style-type: none;
  padding: 0;
}
.footer-menu__list li {
  margin-bottom: 0.588rem;
}
.footer-menu__list li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.footer-menu__list li a:hover {
  color: #BCA182;
}

.footer-social {
  margin-bottom: 1.765rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-social a {
  text-decoration: none;
  background-color: #7E6D51;
  padding: 0.412rem;
  margin-right: 0.588rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-address__title {
  font-size: 1.118rem;
  font-weight: 400;
  margin-bottom: 0.882rem;
}
.footer-address__item {
  font-size: 0.882rem;
  font-weight: 400;
  margin-bottom: 1.765rem;
}

.footer-btn__btn-footer {
  color: #fff;
  background-color: #7E6D51;
  border: none;
  padding: 0.882rem 3.529rem;
}
.footer-btn__btn-footer span {
  font-size: 1.118rem;
}

.footer-down-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-navigation ul li.has-children::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -3px;
  right: 0;
  width: 11px;
  height: 6px;
  background-image: url(../images/svg/arrow-down.svg);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.header-navigation ul li.has-children ul {
  display: none;
}
.header-navigation ul a {
  color: #fff;
  text-decoration: none;
  display: block;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.header-navigation ul a:hover {
  color: #BCA182;
}
.header-navigation ul li {
  position: relative;
}
.header-navigation ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  min-width: 23.529rem;
  padding: 0.588rem 1.765rem;
}
.header-navigation ul li:hover ul {
  display: block;
}
.header-navigation ul li:hover::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header-navigation ul li a {
  margin: 0.588rem 0;
}
.header-navigation > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.765rem;
  height: 5.294rem;
}

@media (max-width: 1400px) {
  .header-navigation > ul > li > a {
    margin: 0 1.176rem;
  }
}
@media (max-width: 1200px) {
  .header-navigation a {
    font-size: 0.824rem;
  }
}
@media (max-width: 992px) {
  .header-navigation {
    display: none;
  }
}
.form__select, .form__input, .form__submit-button {
  height: 2.647rem;
  color: #5E5E5E;
  font-size: 0.882rem;
  padding: 0 0.882rem;
  background-color: #fff;
  border: none;
  margin-bottom: 0.882rem;
}
.form__select:focus, .form__input:focus, .form__submit-button:focus {
  outline: 1px solid #7E6D51;
}
.form__select_large, .form__input_large {
  height: 4.118rem;
  font-size: 1.118rem;
}
.form__select_gray-bg, .form__input_gray-bg {
  background-color: #E9E9E9;
}
.form__submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7E6D51;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.form__submit-button_large {
  height: 4.118rem;
  font-size: 1.118rem;
}
.form__submit-button svg {
  margin-top: 2px;
  margin-left: 2px;
}
.form__submit-button:hover {
  background-color: #BCA182;
}
.form__submit-button_light {
  background-color: #BCA182;
}
.form__submit-button_light:hover {
  background-color: #7E6D51;
}
.form__policy {
  font-size: 13px;
  color: #D1D0D0;
  line-height: 1.2;
}
.form--1-in-1-row input, .form--1-in-1-row select, .form--1-in-1-row button {
  width: 100%;
}
.form--3-in-1-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form--3-in-1-row input, .form--3-in-1-row select, .form--3-in-1-row button {
  width: 32%;
}

.form-box {
  padding: 2.353rem 3.529rem;
  border: 1px solid #7E6D51;
}

@media (max-width: 992px) {
  .form--3-in-1-row input, .form--3-in-1-row select, .form--3-in-1-row button {
    width: 49%;
  }
}
@media (max-width: 576px) {
  .form--3-in-1-row input, .form--3-in-1-row select, .form--3-in-1-row button {
    width: 100%;
  }
  .form-box {
    padding: 1.765rem;
  }
}
.button {
  height: 3.529rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  background-color: #BCA182;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  padding: 0 1.765rem;
  border: none;
}
.button_align-center {
  margin: auto;
}
.button:hover {
  background-color: #ae8d67;
  color: #fff;
}

.section {
  margin-top: 5.882rem;
}
.section_relative {
  position: relative;
}
.section--has-background {
  padding: 3.529rem 0;
}
.section_background-black {
  background-color: #000;
}

.section-background-pattern {
  position: absolute;
}
.section-background-pattern img {
  max-width: 100%;
  height: auto;
}
.section-background-pattern--align-left-bottom {
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .section {
    margin-top: 3.529rem;
  }
}
.slider-dots .slick-dots li button::before {
  display: none;
}
.slider-dots .slick-dots li {
  width: 60px;
  height: 6px;
  background-color: #fff;
  margin: 0 0.882rem;
}
.slider-dots .slick-dots li.slick-active {
  background-color: #7E6D51;
}
.slider-dots--on-slider-bottom {
  position: relative;
  bottom: 50px;
  left: 0;
}

@media (max-width: 576px) {
  .slider-dots .slick-dots li {
    width: 30px;
    height: 3px;
    margin: 0 0.588rem;
  }
}
.tabs__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.765rem;
}
.tabs__trigger {
  cursor: pointer;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  margin-bottom: 5px;
  margin-right: 10px;
}
.tabs__trigger.is-active {
  color: #7E6D51;
  text-decoration: underline;
}
.tabs__trigger:hover {
  color: #7E6D51;
}

.room-card {
  background-color: #EBE3DA;
  padding: 0.882rem;
  max-width: 500px;
}
.room-card__image {
  margin-bottom: 0.882rem;
  position: relative;
}
.room-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.room-card__label {
  position: absolute;
  top: 0.882rem;
  right: 0.882rem;
  background: rgba(188, 161, 130, 0.6);
  color: #fff;
  font-size: 0.588rem;
  padding: 0.588rem;
}
.room-card__title {
  font-size: 0.882rem;
  font-weight: 700;
  margin-bottom: 0.588rem;
  line-height: 1.4;
}
.room-card__flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.588rem;
}
.room-card__footer-row {
  margin-top: 1.176rem;
  margin-bottom: 0;
}
.room-card__info {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.room-card__info svg {
  margin-right: 5px;
}
.room-card__currency-amount {
  margin-left: 15px;
}
.room-card__currency-changer {
  position: relative;
  font-size: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 25px;
  width: 45px;
  background-color: #BCA182;
  cursor: pointer;
}
.room-card__currency-changer-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.room-card__currency-changer svg {
  margin-right: 5px;
}
.room-card__currency-changer-hidden-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 45px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.room-card__currency-changer-hidden-list.is-opened {
  visibility: visible;
  opacity: 1;
}
.room-card__currency-changer-list-item {
  color: #000;
  text-align: center;
  padding: 3px 0;
  font-size: 9px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.room-card__currency-changer-list-item:hover {
  background-color: #BCA182;
}
.room-card__link {
  background-color: #BCA182;
  width: 6.471rem;
  height: 1.765rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}
.room-card__link:hover {
  background-color: #ae8d67;
  color: #fff;
}

.three-slide-carousel {
  position: relative;
  margin-left: -0.588rem;
  margin-right: -0.588rem;
}
.three-slide-carousel .slick-track {
  padding-bottom: 50px;
}
.three-slide-carousel .slick-list {
  z-index: 5;
}
.three-slide-carousel__slide {
  margin: 0 0.588rem;
}
.three-slide-carousel .slick-arrow {
  position: absolute;
  top: calc(50% - 50px);
  margin-top: -12px;
  cursor: pointer;
}
.three-slide-carousel .slick-arrow-next {
  right: -50px;
}
.three-slide-carousel .slick-arrow-prev {
  left: -50px;
}

@media (max-width: 1400px) {
  .three-slide-carousel .slick-arrow-next {
    right: -20px;
  }
  .three-slide-carousel .slick-arrow-prev {
    left: -20px;
  }
}
@media (max-width: 768px) {
  .three-slide-carousel .slick-dots {
    bottom: 15px;
  }
}
.quiz {
  border: 2.353rem solid #7E6D51;
  padding: 1.765rem 3.529rem;
  background-color: #000;
  color: #fff;
}
.quiz__title {
  font-size: 2.118rem;
  font-weight: 700;
  margin-bottom: 0.588rem;
  font-weight: 700;
}
.quiz__question {
  font-size: 1.353rem;
  margin-bottom: 1.176rem;
}
.quiz__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.quiz__answers-item {
  width: 32%;
  padding: 1.176rem;
  background-color: #7E6D51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.176rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.quiz__answers-item:hover {
  background-color: #BCA182;
}
.quiz__answers-name {
  margin-left: 10px;
  line-height: 1.2;
}
.quiz__answers-round {
  position: relative;
  width: 1.765rem;
  height: 1.765rem;
  -webkit-box-flex: 1.765rem;
      -ms-flex: 1.765rem 0 0px;
          flex: 1.765rem 0 0;
  border-radius: 50%;
  background-color: #fff;
}
.quiz__answers-round--choosen::after {
  content: "";
  position: absolute;
  width: 1.176rem;
  height: 1.176rem;
  top: 0.294rem;
  left: 0.294rem;
  border-radius: 50%;
  background-color: #7E6D51;
}
.quiz__footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.quiz__next-btn {
  width: 115px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7E6D51;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.quiz__next-btn:hover {
  background-color: #BCA182;
}
.quiz__step-grid {
  width: 100%;
  margin-right: 1.765rem;
  height: 7px;
  border-radius: 10px;
  background-color: #D9D9D9;
  position: relative;
}
.quiz__step-grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
  border-radius: 10px;
  height: 100%;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.quiz__step-grid--is-25::after {
  width: 25%;
}
.quiz__step-grid--is-50::after {
  width: 50%;
}
.quiz__step-grid--is-85::after {
  width: 85%;
}
.quiz__step-grid--is-100::after {
  width: 100%;
}
.quiz__ready-check {
  position: absolute;
  top: -5px;
  left: 0;
  font-size: 12px;
  color: #8B8B8B;
}
.quiz__error {
  color: #ff3535;
  font-weight: 700;
  font-size: 20px;
}
.quiz__error.shown {
  display: block !important;
}

@media (max-width: 1200px) {
  .quiz__answers-name {
    font-size: 0.882rem;
  }
  .quiz__answers-item {
    padding: 0.882rem;
  }
}
@media (max-width: 992px) {
  .quiz__answers-item {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .quiz__title {
    font-size: 1.471rem;
  }
  .quiz__question {
    font-size: 1.176rem;
  }
}
@media (max-width: 576px) {
  .quiz {
    padding: 1.176rem;
    border: 0.882rem solid #7E6D51;
  }
  .quiz__answers-item {
    width: 100%;
  }
  .quiz__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quiz__ready-check {
    top: -25px;
  }
  .quiz__step-grid {
    margin: 0;
  }
  .quiz__next-btn {
    margin-top: 15px;
  }
  .quiz__error {
    font-size: 15px;
    margin-top: 15px;
  }
}
.form-heading__title {
  font-size: 2.118rem;
  margin-bottom: 1.176rem;
  color: #fff;
  font-weight: 700;
}
.form-heading__title--has-subtitle {
  margin-bottom: 0.471rem;
}
.form-heading__subtitle {
  font-size: 1.471rem;
  color: #fff;
  margin-bottom: 1.176rem;
}
.form-heading__subtitle_accent {
  color: #BCA182;
}

@media (max-width: 576px) {
  .form-heading__title {
    font-size: 1.471rem;
  }
  .form-heading__subtitle {
    font-size: 1.059rem;
  }
}
.faq-video__content {
  position: relative;
  height: 32.353rem;
  width: 100%;
}
.faq-video__image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.faq-video__image::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(188, 161, 130, 0.5);
}
.faq-video__heading {
  position: absolute;
  bottom: 3.529rem;
  left: 1.176rem;
  color: #fff;
  max-width: 16.471rem;
}
.faq-video__title {
  padding-bottom: 0.706rem;
  margin-bottom: 0.706rem;
  line-height: 1.3;
  position: relative;
}
.faq-video__title::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.faq-video__name {
  padding: 0 15px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #BCA182;
  font-size: 10px;
}
.faq-video__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -46.5px;
  margin-top: -46.5px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .faq-video__heading {
    max-width: 12.941rem;
    bottom: 1.765rem;
  }
  .faq-video__title {
    font-size: 0.882rem;
  }
  .faq-video__content {
    height: 26.471rem;
  }
}
.send-pdf-form {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2.941rem;
}
.send-pdf-form::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.send-pdf-form__image {
  position: absolute;
  right: 10%;
  bottom: 10%;
  z-index: 2;
}
.send-pdf-form__content {
  position: relative;
  z-index: 2;
}

@media (max-width: 1400px) {
  .send-pdf-form__image {
    right: 0;
    bottom: 5%;
  }
}
@media (max-width: 992px) {
  .send-pdf-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .send-pdf-form__image {
    display: none;
  }
}
@media (max-width: 576px) {
  .send-pdf-form {
    padding: 1.765rem;
  }
}
.main-screen {
  padding: 5.882rem 0 8.824rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.offer-form {
  padding: 1.765rem 3.529rem;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
}
.offer-form__title {
  font-size: 1.765rem;
  margin-bottom: 1.765rem;
  color: #fff;
}
.offer-form__title_bold {
  font-weight: 700;
  display: block;
}

.info-notice {
  cursor: pointer;
  position: relative;
  max-width: 26.471rem;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 0.882rem;
  padding: 0.882rem 2.353rem 0.882rem 0.882rem;
  border: 2px solid #7E6D51;
  margin-top: 1.471rem;
}
.info-notice__text_bold {
  font-weight: 700;
}
.info-notice__image {
  position: absolute;
  top: -0.588rem;
  right: -1.765rem;
}

.main-screen-card-wrapper {
  margin-top: -3.529rem;
}

.main-screen-card {
  text-decoration: none;
  padding: 0 1.176rem;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7.059rem;
  background-image: url(../images/main-screen-card-background-pattern.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  border: 1px solid #7E6D51;
}
.main-screen-card__text {
  font-size: 1.176rem;
  margin-left: 0.882rem;
  color: #fff;
  line-height: 1.3;
}
.main-screen-card svg {
  -webkit-box-flex: 60px;
      -ms-flex: 60px 0 0px;
          flex: 60px 0 0;
}

.home-page-slider__slide {
  background-color: #000;
}
.home-page-slider__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-page-slider__image {
  width: 50%;
}
.home-page-slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-page-slider__content {
  width: 50%;
  padding: 2.353rem 3.529rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.home-page-slider__title {
  font-size: 2.412rem;
  margin-bottom: 2.353rem;
  font-weight: 700;
  color: #fff;
}
.home-page-slider__title_accent {
  color: #7E6D51;
}
.home-page-slider__card {
  width: 100%;
  border: 1px solid #7E6D51;
  padding: 1.176rem;
  color: #fff;
}
.home-page-slider__card-title {
  font-size: 1.353rem;
  padding-bottom: 0.588rem;
  margin-bottom: 0.588rem;
  position: relative;
  display: inline-block;
}
.home-page-slider__card-title::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 1px;
  background-color: #7E6D51;
}
.home-page-slider__card-subtitle {
  font-size: 19px;
  font-weight: 700;
}
.home-page-slider__card-text {
  margin-bottom: 30px;
}
.home-page-slider__link {
  width: 11.765rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 15px;
  border: 1px solid #7E6D51;
  padding: 8px 0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.home-page-slider__link:hover {
  color: #d5d5d5;
}

.quote {
  position: relative;
}
.quote__icon-left {
  position: relative;
  top: 0;
  left: -45px;
}
.quote__icon-right {
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: -45px;
}
.quote-image {
  position: absolute;
  bottom: -3.529rem;
  right: 0;
}

.distric-card {
  height: 23.529rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.distric-card__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 20s ease-out;
  transition: -webkit-transform 20s ease-out;
  transition: transform 20s ease-out;
  transition: transform 20s ease-out, -webkit-transform 20s ease-out;
  width: 100%;
  height: 100%;
}
.distric-card__image:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}
.distric-card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(188, 161, 130, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.471rem;
  font-size: 1.588rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  height: 5.294rem;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.distric-card__content:hover {
  color: #fff;
  background-color: rgba(188, 161, 130, 0.9);
}

@media (max-width: 1600px) {
  .section img.curl {
    opacity: 0.5;
  }
}
@media (max-width: 1400px) {
  .home-page-slider__content {
    padding: 5.294rem 1.765rem;
  }
  .quote-image {
    right: -50px;
  }
}
@media (max-width: 1200px) {
  .main-screen-card {
    height: 5.588rem;
  }
  .main-screen-card__text {
    font-size: 13px;
  }
  .home-page-slider__title {
    font-size: 2.059rem;
    margin-bottom: 1.176rem;
  }
  .quote-image {
    display: none;
  }
  .distric-card {
    height: 17.647rem;
  }
  .distric-card__content {
    height: 3.529rem;
    font-size: 1.176rem;
  }
}
@media (max-width: 992px) {
  .offer-form__title {
    font-size: 1.471rem;
  }
  .main-screen-card {
    margin: 0;
    margin-bottom: 0.588rem;
  }
  .home-page-slider__flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-page-slider__content, .home-page-slider__image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .offer-form__title {
    font-size: 1.176rem;
  }
  .distric-card {
    height: 23.529rem;
  }
}
@media (max-width: 576px) {
  .info-notice {
    padding: 0.882rem;
  }
  .info-notice__image {
    display: none;
  }
  .home-page-slider__content {
    padding: 40px 20px 80px 20px;
  }
  .home-page-slider__title {
    font-size: 26px;
  }
  .quote {
    padding: 0 40px;
  }
}