footer.footer 
	.container
		.row 
			.col-lg-3 
				img.footer-logo(src="", alt="")
			.col-lg-2 
				+b.footer-menu
					+e.title Информация
					+e.UL.list
						+e.LI.list-item
							+e.A.link(href="#") Информация