include includes/bemto/bemto
include mixins/svg_import

doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		title Emirates Home
		link(rel='icon', href='images/favicon.png')
		meta(name='description', content='Стоматология доктора Латышевой')
		meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
		link(rel='stylesheet', href='libs/bootstrap/css/bootstrap-reboot.min.css')
		link(rel='stylesheet', href='libs/bootstrap/css/bootstrap-grid.min.css')
		link(rel='stylesheet', href='libs/slick-carousel/slick/slick.css')
		link(rel='stylesheet', href='libs/slick-carousel/slick/slick-theme.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')

		script(src='libs/jquery/jquery-3.6.0.min.js', defer)
		script(src='libs/slick-carousel/slick/slick.min.js', defer)
		script(src='js/main.js', type="module")
	body
		header.header
			.container
				+b.header-flex-wrapper
					+e.A.item.__logo.img-responsive(href="#")
						img(src="images/logo.png", height="68", width="auto")
					+e.item
						+b.header-navigation
							ul
								li.has-children
									a(href="#") Купить
									ul
										li
											a(href="#") Очень длинное название для первого пункта подменю
										li
											a(href="#") Пункт №2
										li
											a(href="#") Пункт №3
								li 
									a(href="#") Новостройки
								li 
									a(href="#") Районы
								li 
									a(href="#") Застройщики
								li 
									a(href="#") О нас
								li 
									a(href="#") Контакты
					+e.item.__info
						+e.A.email(href="mailto:info@kpgroup-msk.ru") info@kpgroup-msk.ru
						+e.A.phone(href="tel:+7 958 502 02 20") +7 958 502 02 20
						+e.modal-call#popup-trigger Заказать звонок
					+e.item.__mobile-menu-call
						+svg(30,30, 'menu')
						span Меню
		.main-screen(style="background-image: url(images/main-screen-background.jpg)")
			.container 
				.row.justify-content-center
					.col-xxl-10
						+b.offer-form
							+e.title Лучшие базы недвижимости в ОАЭ от компании 
								+e.SPAN.title_bold Emirates Home
							+b.FORM.form._3-in-1-row
								+e.SELECT(name="buy").select
									+e.OPTION.option(disabled, selected) Купить
									+e.OPTION.option Недвижимость
									+e.OPTION.option Дом
									+e.OPTION.option Участок
								+e.SELECT(name="type").select
									+e.OPTION.option(disabled, selected) Тип недвижимости
									+e.OPTION.option Тип № 1
									+e.OPTION.option Тип № 2
									+e.OPTION.option Тип № 3
								+e.SELECT(name="location").select
									+e.OPTION.option(disabled, selected) Локации
									+e.OPTION.option Локации № 1
									+e.OPTION.option Локации № 2
									+e.OPTION.option Локации № 3
								+e.SELECT(name="districts").select
									+e.OPTION.option(disabled, selected) Районы
									+e.OPTION.option Районы № 1
									+e.OPTION.option Районы № 2
									+e.OPTION.option Районы № 3
								+e.SELECT(name="price").select
									+e.OPTION.option(disabled, selected) Стоимость
									+e.OPTION.option Стоимость № 1
									+e.OPTION.option Стоимость № 2
									+e.OPTION.option Стоимость № 3
								+e.BUTTON.submit-button 
									span Показать стоимость
									+svg(23,23,'loup')
							+b.info-notice(data-modal="callbcak")
								+e.SPAN.text 
									| Получить консультацию менеджера и 
									+e.SPAN.__text_bold подобрать лучшие варианты 
									| по Вашим запросам
								+e.__image 
									img(src="images/mobile.png", alt="")
		.main-screen-card-wrapper
			.container 
				.row 
					.col-lg-3.col-md-6
						+b.A.main-screen-card(href="#") 
							+svg(46,46,'person')
							+e.text Пообщаться с брокером 
					.col-lg-3.col-md-6
						+b.A.main-screen-card(href="#") 
							+svg(50,50,'chart')
							+e.text Рассчитать рентабельность инвестиций
					.col-lg-3.col-md-6
						+b.A.main-screen-card(href="#") 
							+svg(52,54,'book')
							+e.text Получить актуальный каталог
					.col-lg-3.col-md-6
						+b.A.main-screen-card(href="#") 
							+svg(50,50,'flag')
							+e.text Продать недвижимость
		.section 
			.container 
				+b.home-page-slider.one-slide-carousel
					- count = 0;
					while count < 5
						- count++
						+e.slide.one-slide-carousel__slide
							+e.flex-wrapper
								+e.image
									img(src="images/home-carousel/preview-image.png")
								+e.content(style="background-image: url('images/slide-background-pattern.png')")
									+e.title 
										+e.SPAN.title_accent Готовая к заселению 
										| недвижимость
									+e.card
										+e.card-title Апартаменты, виллы, <br> таунхаусы
										+e.card-subtitle +1000 ОБЪЕКТОВ
										+e.card-text В Дубае и Абу-Даби
										+e.A.link(href="#") Узнать подробнее
				.slider-dots.slider-dots--on-slider-bottom
		.section
			.container
				h2.h2-title Подборка для вас
				+b.tabs
					+e.heading
						+e.trigger.is-active.fs20 Квартиры
						- let titles = ['Виллы', 'Пентхаусы', 'Таунхаусы', 'Дуплексы', 'Лофты', 'Земля', 'Коммерческая недвижимость'];
						each title in titles
							+e.trigger.fs20= title
					+e.content
						+b.three-slide-carousel
							- count = 0;
							while count < 5
								- count++
								+e.slide 
									+b.room-card
										+e.image
											img(src="images/room-card-image-preview.jpg", alt="")
											+e.label Квартира/апартаменты
										+e.content
											+e.title 1-спальные апартаменты в Creek Waters от застройщика Emaar Properties (Type 1)
											+e.flex-row
												+e.info
													+svg(9,17,'location')
													| Dubai Harbour
												+e.info
													+svg(21,21,'helmet')
													| DAMAC Properties
											+e.flex-row 
												+e.info
													+svg(11,11,'door')
													| 2 комнаты
												+e.info 
													+svg(12,12,'square')
													| 68 м2
											+e.flex-row.__footer-row
												+e.currency-changer-wrapper
													+e.currency-changer
														+svg(6,4,'small-arrow-up')
														+e.current-currency RUB
													+e.currency-changer-hidden-list
														+e.currency-changer-list-item(data-currency="US") US
														+e.currency-changer-list-item(data-currency="EUR") EUR
														+e.currency-changer-list-item(data-currency="DG") DG
													+e.currency-amount 73 797 703
												+e.A.link(href="#") Подробнее
					button.button.button_align-center Показать все предложения
.section.section_background-black.section_relative.section--has-background
	.section-background-pattern.section-background-pattern--align-left-bottom
		img.curl(src="images/background-pattern.png", alt="")
	.container
		.row 
			.col-lg-9
				+b.quote
					.html-content.html-content_white.html-content_relative.maw600
						+e.icon-left
							+svg(44,44,'quote-right')
						p 
							| Я с детства любовался изысканной архитектурой, стильным дизайном, 
							| и счастлив, что сейчас помогаю людям жить в таких же роскошных домах. 
							| Покупатели ценят работу моей компании за безупречное знание рынка, проницательность и умение 
							| вести переговоры даже в самых сложных сделках. <br> Мы гордимся тем, что деловые отношения основаны 
							| на доверии и взаимном уважении. Мы стремимся не только делать за Вас основную работу, 
							| но и повышать осведомленность о недвижимости и инвестициях, чтобы Вы были уверены в своих действиях.
						+e.icon-right
							+svg(44,44,'quote-left')
					.html-content.html-content_white.tar
						p — основатель компании KP Group, <br> Подгорный Кирилл Юрьевич
			.col-lg-3(style="position: relative")
				.quote-image 
					img(src="images/man.png", alt="Подгорный Кирилл Юрьевич")
.section
	.container
		h2.h2-title Предложения месяца
	.container 
		+b.three-slide-carousel
			- count = 0;
			while count < 5
				- count++
				+e.slide 
					+b.room-card
						+e.image
							img(src="images/room-card-image-preview.jpg", alt="")
							+e.label Квартира/апартаменты
						+e.content
							+e.title 1-спальные апартаменты в Creek Waters от застройщика Emaar Properties (Type 1)
							+e.flex-row
								+e.info
									+svg(9,17,'location')
									| Dubai Harbour
								+e.info
									+svg(21,21,'helmet')
									| DAMAC Properties
							+e.flex-row 
								+e.info
									+svg(11,11,'door')
									| 2 комнаты
								+e.info 
									+svg(12,12,'square')
									| 68 м2
							+e.flex-row.__footer-row
								+e.currency-changer-wrapper
									+e.currency-changer
										+svg(6,4,'small-arrow-up')
										+e.current-currency RUB
									+e.currency-changer-hidden-list
										+e.currency-changer-list-item(data-currency="US") US
										+e.currency-changer-list-item(data-currency="EUR") EUR
										+e.currency-changer-list-item(data-currency="DG") DG
									+e.currency-amount 73 797 703
								+e.A.link(href="#") Подробнее
		button.button.button_align-center Смотреть все объекты
.section
	.container
		+b.quiz
			+e.title Ответьте на 4 вопроса, а мы отправим лучшие предложения по Вашему запросу 
			+e.step.__step-1
				+e.question Какой тип недвижимости вас интересует?
				+e.answers
					- let step_1_titles = ['Виллы', 'Апартаменты', 'Дом, таунхаус', 'Пентхаус', 'Лофт', 'Коммерческая недвижимость'];
					each title in step_1_titles
						+e.answers-item
							+e.answers-round
							+e.answers-name= title
			+e.step.__step-2(style="display: none")
				+e.question Какой вид недвижимости вас интересует?
				+e.answers
					- let step_2_titles = ['Гаражи', 'Апартаменты', 'Дом, таунхаус', 'Пентхаус', 'Лофт', 'Коммерческая недвижимость'];
					each title in step_2_titles
						+e.answers-item
							+e.answers-round
							+e.answers-name= title
			+e.step.__step-3(style="display: none")
				+e.question Какой вид недвижимости вас интересует3?
				+e.answers
					- let step_3_titles = ['Лодки', 'Апартаменты', 'Дом, таунхаус', 'Пентхаус', 'Лофт', 'Коммерческая недвижимость'];
					each title in step_3_titles
						+e.answers-item
							+e.answers-round
							+e.answers-name= title
			+e.step.__step-4(style="display: none")
				+e.question Какой вид недвижимости вас интересует4?
				+e.answers
					- let step_4_titles = ['Корабли', 'Апартаменты', 'Дом, таунхаус', 'Пентхаус', 'Лофт', 'Коммерческая недвижимость'];
					each title in step_4_titles
						+e.answers-item
							+e.answers-round
							+e.answers-name= title
			+e.step.__step-5(style="display: none")
				+e.question Конец теста
				
			+e.footer
				+e.ready-check Готово: 
					+e.SPAN.ready-check-count 0%
				+e.step-grid.quiz__step-grid--is-0
				+e.next-btn(data-step = 1) Далее
			+e.error(style="display: none") Вам нужно выбрать один из вариантов
.section.section_background-black.section_relative.section--has-background
	.container
		h2.h2-title.h2-title_white Самые привлекательные эмираты для жизни в ОАЭ
		+b.three-slide-carousel
			- count = 0;
			while count < 5
				- count++
				+e.slide 
					+b.distric-card(style="background-image: images/districts/dubai-preview.jpg")
						+e.content
							+e.A.link(href="#") Дубай
							

include includes/footer