// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {

	background-color: $black;
	padding-top: 1.765rem;
	color: $white;

}

.footer-logo {

	max-width: 8.235rem;

	& span {

		font-size: .588rem;
		color: rgba(188, 161, 130, 0.70);
		text-align: center;
		display: flex;
		justify-content: center;
		margin-bottom: 2.059rem;
		margin-top: .294rem;

	}
}

.footer-tel  {

	margin-bottom: 1.471rem;

	&__title {

		font-size: 1.118rem;
		font-weight: 400;

	}

	&__item {

		font-size: 1.118rem;
		font-weight: 700;

	}

}

.footer-mail {

	&__title {

		font-size: 1.118rem;
		font-weight: 400;

	}

	&__item {

		font-size: 1.118rem;
		font-weight: 700;

	}

}

.footer-menu {

	&__title {

		font-size: 1.235rem;
		font-weight: 700;
		margin-bottom: .882rem;

	}

	&__list {

		list-style-type: none;
		padding: 0;

		& li {

			margin-bottom: .588rem;

			& a {
				text-decoration: none;
				color: $white;
				@include transition(color);

				&:hover {

					color: $accent-light;
	
				}

			}

		}

	}
	
}

.footer-social {

	margin-bottom: 1.765rem;
	display: flex;
	flex-wrap: wrap;

	& a {

		text-decoration: none;
		background-color: $accent;
		padding: .412rem;
		margin-right: .588rem;
		display: flex;
		align-items: center;
		justify-content: center;

	}

}

.footer-address {

	&__title {

		font-size: 1.118rem;
		font-weight: 400;
		margin-bottom: .882rem;

	}

	&__item {

		font-size: .882rem;
		font-weight: 400;
		margin-bottom: 1.765rem;

	}

}

.footer-btn {

	&__btn-footer {

		color: $white;
		background-color: #7E6D51;
		border: none;
		padding: .882rem 3.529rem;

		& span {
			font-size: 1.118rem;
		}

	}

}

.footer-down-wrap {

	display: flex;
	justify-content: space-between;

}