// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {

	background-color: $black;

}

.header-flex-wrapper {

	display: flex;
	justify-content: space-between;

	&__item {

		display: flex;
		justify-content: center;
		flex-direction: column;

	}

	&__mobile-menu-call {

		display: none;

	}

	&__email {

		font-size: .882rem;
		color: $accent;
		text-decoration: none;
		@include transition(color);

		&:hover {

			color: $accent-light;

		}

	}

	&__phone {

		font-size: 1.118rem;
		color: $white;
		font-weight: 700;
		text-decoration: none;
		@include transition(color);

		&:hover {

			color: $whie-hover;

		}

	}


	&__modal-call {

		font-size: .647rem;
		color: #BEBEBE;
		text-decoration: underline;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;
		@include transition(color);

		&:hover {

			color: $white;

		}

		&::before {

			content: '';
			width: 3px;
			height: 3px;
			background-color: #54BB5E;
			border-radius: 50%;
			margin-right: 5px;

		}

	}

}

@media (max-width: $xl) {

	.header-flex-wrapper__logo img {

		max-width: 150px;
		height: auto;

	}

}

@media (max-width: $lg) {

	.header-flex-wrapper {

		padding: 10px 0;

		&__info {

			display: none;

		}

		&__mobile-menu-call {

			display: flex;
			color: #fff;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			cursor: pointer;

			& svg {

				margin-right: 5px;

			}

		}

	}


}

