.tabs {

	&__heading {

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 1.765rem;

	}

	&__trigger {

		cursor: pointer;
		@include transition(color);
		margin-bottom: 5px;
		margin-right: 10px;

		&.is-active {

			color: $accent;
			text-decoration: underline;

		}

		&:hover {

			color: $accent;

		}

	}

}
