// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {

	font-family: 'Roboto';
	min-width: 320px;
	overflow-x: hidden;
	line-height: 1.5;

}

body, html {

	font-size: 17px;
	
}

@media (max-width: $lg) {

	body, html {

		font-size: 15px;

	}

}

@media (max-width: $md) {

	body, html {

		font-size: 15px;

	}

}

@media (max-width: $sm) {

	body, html {

		font-size: 14px;

	}

}
