// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {

	font-family: 'Roboto';
	min-width: 320px;
	overflow-x: hidden;
	font-size: 17px;
	line-height: 1.5;

}