// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.fs20 {

	font-size: 1.176rem;

}

.maw600 {

	max-width: 35.294rem;

}

.tar {

	text-align: right;

}