// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------
.h2-title {

	margin-bottom: 2.941rem;
	font-size: 2.118rem;
	font-weight: 700;

	&_white {

		color: $white;

	}

}

.html-content {

	margin-bottom: 1.765rem;

	&_relative {

		position: relative;

	}

	&_white {

		color: $white;

	}

}

@media (max-width: $md) {

	.h2-title {

		margin-bottom: 25px;
		font-size: 30px;
		font-weight: 700;
	
	}

}