// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$white: #fff;
$black: #000;
$accent: #7E6D51;
$accent-light: #BCA182;

//Colors hover
$whie-hover: #d5d5d5;