// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$white: #fff;
$black: #000;
$accent: #7E6D51;
$accent-light: #BCA182;
$errorAlert: #ff3535;

//Colors hover
$whie-hover: #d5d5d5;

//Breakpoints
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;